
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @user.name %>.  Thanks for signing up!</h1>
    <p>
     I promise you wil love this app so much, your going to explode wiht happiness :)
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>