<h1>Looks like you forgot your password</h1>
<p>Enter your email and we will send you instructions on how to reset your password</p>

<%= form_with(url: password_path, local: true) do |form| %>
  <%
=begin%>
 TODO how would you add validation to check to make sure input is a valid email ?
<%
=end%>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
